<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <!-- Appenders -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%-5level] [%logger{36}.%M\(%line\)] - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Application logger -->
    <logger name="com.example">
        <level value="info" />
    </logger>


    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>